.container {
    display: grid;
    grid-template-columns: 3.8fr 1.2fr;
}
.main {
    padding: 0 45px 70px 55px;
    background-color: lightcyan;
}
.heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.heading h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ff4d8e;
    font-size: 28px;
}
.main header p {
    font-size: 20px;
}
.main header p > span {
    color: #005bff;
    font-weight: bold;
}
.exercises-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.side-bar {
    background-color: #ffeded;  /* #fff6f6 */
}

@media screen and (max-width: 1079px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .exercises-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1279px) {
    .exercises-container {
        grid-template-columns: repeat(2, 1fr);
    }
}