.side-info {
    position: sticky;
    top: 0;
    padding: 20px 30px;
}
.break-container {
    display: flex;
    gap: 22.7px;
    background-color: lightcyan;
    padding: 12px 20px;
    border-radius: 7px;
}
.break-container > p {
    margin-right: 20px;
    background-color: #ff8383; /* #ff8383 */
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 0;
}
.break-container > p:hover {
    background-color:#0f9ddf;   /* #34bfff */
    cursor: pointer;
}
.exercise-details p{
    background-color: lightcyan;
    padding: 10px;
    border-radius: 5px;
    color: rgba(42, 65, 79, 1);
    font-weight: 600;
}
.exercise-details p > span {
    color: #ff0b6f;     /* #1484c8, #c43cfb, #ff50e1, #ff0b6f */
}

.btn-complete {
    width: 100%;
    background-color: #0393d6;  /* #0393d6, #4eb2e1 */
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
}

.btn-complete:hover {
    background-color: #006ea1;
}