.side-info {
    position: sticky;
    top: 0;
    padding: 20px 30px;
}
.personal-details {
    margin-bottom: 30px;
}
.personal-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.personal-info img {
    width: 50px;
    border-radius: 50%;
}
.personal-title h3, .personal-title p{
    margin: 0;
}
.personal-title p {
    color: rgba(42, 65, 79, 1);
}
.extra-info {
    background-color: lightcyan;
    padding: 12px 20px;
    border-radius: 7px;
}
.ex-info-title {
    margin-top: 0;
    margin-bottom: 15px;
}
.ex-items {
    display: flex;
    gap: 30px;
}
.ex-items h3, .ex-items p {
    margin: 0;
}
.workouts, .kcal, .minutes {
    text-align: center;
}
.ex-items h3 {
    color: #009095;
}
.ex-items p {
    font-size: 10px;
    color: gray;
}
.break-container {
    display: flex;
    gap: 22.7px;
    background-color: lightcyan;
    padding: 12px 20px;
    border-radius: 7px;
    margin-bottom: 30px;
}
.break-container > p {
    margin-right: 20px;
    background-color: #ff8383; /* #ff8383 */
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 0;
}
.break-container > p:hover {
    background-color:#0f9ddf;   /* #34bfff */
    cursor: pointer;
}
.exercise-details p{
    background-color: lightcyan;
    padding: 10px;
    border-radius: 5px;
    color: rgba(42, 65, 79, 1);
    font-weight: 600;
}
.exercise-details p > span {
    color: #ff0b6f;     /* #1484c8, #c43cfb, #ff50e1, #ff0b6f */
}

.btn-complete {
    width: 100%;
    background-color: #0393d6;  /* #0393d6, #4eb2e1 */
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
}

.btn-complete:hover {
    background-color: #006ea1;
}